In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Read the text file with specified encoding
with open('PSL.txt', 'r', encoding='utf-8') as file:
    data = file.readlines()

# Create a DataFrame with a single column
df = pd.DataFrame(data, columns=['text'])

# Display the DataFrame
df.head()

                                                text
0  An armed conflict between Israel and Hamas-led...
1                                                 \n
2  The war began when Hamas-led Palestinian milit...
3                                                 \n
4  Since the start of the Israeli operation,[96] ...

In [3]:
df.tail()

                                                text
2  The war began when Hamas-led Palestinian milit...
3                                                 \n
4  Since the start of the Israeli operation,[96] ...
5                                                 \n
6  Throughout the war, there have been widespread...

In [4]:
import re
def Preprocess(text):
    text=re.sub(r'[^\w\s]',"",text)
    text=re.sub(r'[ \t\n]+'," ",text)
    return text.strip().lower()

In [5]:
Preprocess(''' HBL PSL international media rights see a 41 percent increase". Pakistan Cricket Board. 31 January 2024. Retrieved 31 (January) 2024.\n'PakistanSuperLeague [@thePSLt20]] (9 February 2023). "🏆 𝐀 𝐑𝐎𝐘𝐀𝐋 𝐔𝐍𝐕𝐄𝐈𝐋 🏆 📸 First look at the ##$%^&HBLPSL8 𝘚𝘶𝘱𝘦𝘳𝘯𝘰𝘷𝘢 Trophy at the historic Shalimar Gardens ✨ Read more ➡️ https://t.co/34hSJ7rogS #SabSitarayHumaray https://t.co/N!~ds1Ife9mf" (Tweet). Archived from the original on 18 March 2023. Retrieved 25 March 20[23 – via Twitter.''')

'hbl psl international media rights see a 41 percent increase pakistan cricket board 31 january 2024 retrieved 31 january 2024 pakistansuperleague thepslt20 9 february 2023 𝐀 𝐑𝐎𝐘𝐀𝐋 𝐔𝐍𝐕𝐄𝐈𝐋 first look at the hblpsl8 𝘚𝘶𝘱𝘦𝘳𝘯𝘰𝘷𝘢 trophy at the historic shalimar gardens read more httpstco34hsj7rogs sabsitarayhumaray httpstconds1ife9mf tweet archived from the original on 18 march 2023 retrieved 25 march 2023 via twitter'

In [6]:
df['preprocessed']=df['text'].map(Preprocess)

In [7]:
df.head()

,text,preprocessed
0,An armed conflict between Israel and Hamas-led...,an armed conflict between israel and hamasled ...
1,\n,
2,The war began when Hamas-led Palestinian milit...,the war began when hamasled palestinian milita...
3,\n,
4,"Since the start of the Israeli operation,[96] ...",since the start of the israeli operation96 mor...

In [8]:
df.to_csv('clean.txt',columns=['preprocessed'],index=False,header=None)

In [9]:
import fasttext

In [10]:
model=fasttext.train_unsupervised('clean.txt')

In [18]:
model.get_nearest_neighbors('israil')

[(0.9442304968833923, 'israel'),
 (0.9414738416671753, 'israeli'),
 (0.9106808304786682, 'the'),
 (0.89602130651474, 'palestinian'),
 (0.8927277326583862, 'and'),
 (0.8920217156410217, 'of'),
 (0.8810749650001526, 'to'),
 (0.878157377243042, 'with'),
 (0.8636189103126526, 'in'),
 (0.8280216455459595, 'attack')]